* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
}
.container button {
  margin-top: 25px;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: margin-left 0.3s;
}
.container .links {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: black;
  overflow: hidden;
  transition: 0.3s;
}
.container .links .close {
  position: absolute;
  right: 10px;
  top: 0;
  text-decoration: none;
  font-size: 45px;
  color: #909090;
  &:hover {
    color: white;
  }
}

.container .links .link {
  position: relative;
  top: 5%;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 30px;
  color: #909090;
  &:hover {
    color: white;
  }
}
